
.headerTaksTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.headerTaksTitle > div {
    color: var(--blue);
    font-size: 0.875rem
}

.headerTaksTitle div span {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.125rem 0.5rem; 
    background: var(--gray-400);
    border-radius: 8px;

    color: var(--gray-200);
}

.headerTaksTitle > div + div {
    color: var(--purple);
}
.container footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15.25rem;
    margin-top: 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.container footer img {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.container footer > p {
    font-size: 1rem;
    color: var(--gray-300);
    font-weight: bold;
}

.container footer p + p {
    font-weight: normal;
}